@import "/styles/variables.scss";

.menuButton {
  height: 35px;
  width: 35px;

  cursor: pointer;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.menuButtonInner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 0px;
  width: 0px;
  border: 2px solid $color-text;
  border-radius: 2rem;
}

.crossContainer {
  position: absolute;
  height: 100%;
  width: 100%;
}
