@import "/styles/variables.scss";

.navContainer {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;

  z-index: 40;

  width: 100%;
  padding: $padding-global;
}

.navWrapper:first-of-type {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navLogo {
  position: relative;
  height: 35px;
  width: 35px;
}
