@import "/styles/variables.scss";

.navContainer {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: $padding-global;
}

.navWrapper:first-of-type {
  display: flex;
  gap: 1.5rem;
}

.logo {
  height: 35px;
  width: 35px;
}
