@import "/styles/variables.scss";

.navContainer {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: $padding-global;


}

.menuButton {
  cursor: pointer;
}
