@import "variables";
@import url("https://use.typekit.net/wdw5vaa.css");

body {
  background-color: $color-background;
  color: $color-text;

  font-family: input-mono, sans-serif;
  font-weight: 500;
}

::selection {
  background-color: $color-text;
  color: $color-background;
}
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  margin-right: 100px;
}

::-webkit-scrollbar-track:hover {
  background: rgba(#393937, 0.2);

  &::-webkit-scrollbar-thumb {
    background: #565654;
  }
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(#393937, 0.2);
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #565654;
}

// Typography

h1 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-size: 6rem;
  line-height: 1;
}

h2 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-size: 2rem;
}
