@import "/styles/variables.scss";

.heroSection {
  height: 95vh;

  padding: $padding-global;
}

.heroContainer {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1.5rem;
}

.heroWrapper:first-of-type {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .heroHead {
    text-align: center;

    transition: filter 1s;

    &:hover {
      filter: blur(20px);
    }
  }

  .heroSubHead {
    margin-top: 2rem;
    text-align: center;
  }
}

.heroP {
  max-width: 118ch;

  margin: 0 auto;

  text-align: center;
  text-transform: uppercase;
}

.heroContent {
  font-family: neue-haas-grotesk-display, sans-serif;

  display: flex;
  justify-content: flex-end;
}
