@import "/styles/variables.scss";

.heroSection {
  height: 100vh;

  padding: $padding-global;
}

.heroContainer {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .heroWrapper:first-of-type {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.heroIntro {
  text-align: center;
}

.heroP {
  max-width: 118ch;

  margin: 0 auto;

  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
}
